a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gilroy;
    src: url("./../fonts/Gilroy-Light.otf");
}

.wrapper {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.navbar {
    /*width: 100%;*/
    height: 100px;
    background: #FFFFFF;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999999;
}

.navbar-c1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seemore-wrapper-button {
    text-transform: uppercase;
}

.navbar-bars:hover, navbar-bars-close:hover {
    cursor: pointer;
}

.navbar-c2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-c3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-c1-logo {
    width: 71px;
    height: 41px;
    margin-right: 32px;

}

.navbar-c1-signin {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2d2d2d;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.navbar-c1-signin-element {
    text-decoration: none;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2d2d2d;
}

.navbar-c2-links {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.79;
    letter-spacing: 1.4px;
    text-align: left;
    color: #60003b;
    margin: 0 34px;
    text-transform: uppercase;
}

.navbar-c3-town {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
    margin-right: 18px;
}

.navbar-c3-arrow {
    color: #60003b;
}

.navbar-bars {
    display: none;
}

.header {
    width: 100%;
    height: 300px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    /*background: url("./../img/header-background.png");*/
}

.header-text {
    text-shadow: 2.4px 3.2px 9px #000000e3;
    font-family: Gilroy;
    font-size: 27.5px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 2.75px;
    color: #ffffff;
    margin: 0 50px;
    text-align: center;
    text-transform: uppercase;
}

.header-shadow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-mobile-break {
    display: none;
}

.category {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article {
    padding: 0 100px;
}

.category-element {
    padding: 16px 0;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    white-space: nowrap;
}

.category-element-active {
    color: #60003b;
    border-bottom: 1px solid #60003b;
}

.category-element-arrow {
    margin-left: 11px;
    margin-bottom: -3px;
    margin-top: -4px;
}

.search {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    border: solid 1px #e8e8e8;
    margin-top: 53px;
}

.search-input {
    width: 70%;
    border: none;
    outline: none;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 0.69;
    letter-spacing: normal;
    text-align: left;
    color: #979797;
    height: 90%;
}

.search-image {
    height: 20px;
    width: 20px;
    margin-left: 15px;
    margin-right: 20px;
}

.grid-title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 44px 0;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.61;
    letter-spacing: 1.8px;
    text-align: center;
    color: #60003b;
}

.grid {
    width: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 17px;
}

.grid-element {
    width: 100%;
    height: 280px;
    border: solid 1px #e8e8e8;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-element:hover {
    border: solid 1px #60003b;
}

.grid-element__img {
    width: 94%;
    margin-top: 9px;
    height: 60%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 20px;
}

.grid-element__info-index {
    display: flex;
    flex-direction: row;
    margin-top: 22px;
    /*justify-content: end;*/
    width: 100%;
    /*margin: 0 23px;*/
}

.grid-element__info-index__main {
    margin-left: 23px;
    height: 100%;
}


.grid-element__info-index__main-title {

    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: normal;
    color: #2d2d2d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3px;

}

.grid-element__info-index__main-subtitle {
    margin-top: 16px;
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: normal;
    color: #2d2d2d;
}

.grid-element__info-index__rate {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 30px;
}

.rub-full {
    color: #60003b;
    font-weight: 800;
    margin-right: 2px;
    margin-top: 0;

}

.rub {
    color: #60003b;
    opacity: 0.4;
    font-weight: 800;
    margin-right: 2px;
    margin-top: 0;
}

.grid-element__info-index__rate-rub {
    margin-bottom: 3px;
}

.banner {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: cover !important;
    margin-top: 47px;
}

.seemore-wrapper-button {
    padding: 19px 73px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.79;
    letter-spacing: 1.4px;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    background-color: #60003b;
}

.seemore-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 35px;
}

.footer {
    margin-top: 50px;
    width: 100%;
    height: 296px;
    background-color: #ece0e7;
    display: flex;
    flex-direction: column;
}

.footer-r1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 19px 0px;
    margin: 0 100px;
    border-bottom: 1px solid #cfb2c4;
    align-items: center;
}

.footer-r1-market:first-child {
    margin-right: 20px;
}

.footer-r1-logo-img {
    width: 71px;
    height: 41px;
}

.footer-r2 {
    display: flex;
    flex-direction: row;
    margin: 0 100px;
}

.footer-r2-column {
    margin-right: 9.6vw;
}

.footer-r2-column:last-child {
    margin-right: 0;
}

.footer-r2-column-title {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: normal;
    color: #60003b;
    margin-bottom: 31px;
    margin-top: 32px;
}

.footer-r2-column-link {
    font-family: Gilroy;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    color: #2d2d2d;
    margin-top: 0;
    margin-bottom: 10px;
}

.header-text-restaurant {
    width: 100%;
    height: 100%;
}

.header-shadow-restaurant {
    background-color: rgba(0, 0, 0, 0.25);
}

.header-text-restaurant-title {
    width: 42%;
    margin-top: 156px;
    margin-left: 100px;
    text-shadow: 2.1px 3.4px 9px #000000e3;
    font-family: Gilroy;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.31;
    letter-spacing: 3.6px;
    /*padding-right: 289px;*/
    padding-bottom: 27px;
    color: #ffffff;
    border-bottom: 1px solid #FFFFFF;
}

.header-text-restaurant-info {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 0px;
    align-items: center;
    margin-right: 100px;
}

.header-text-restaurant-info-deliveryprice {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.header-text-restaurant-info-delivery {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.header-text-restaurant-img {
    width: 24px;
    height: 16px;
    margin-right: 14px;
}

.restaurant-info {
    display: flex;
    flex-direction: column;
}

.restaurant-info-contacts {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.restaurant-info-contacts-c {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.restaurant-info-contacts-c-text {
    font-family: Gilroy;
    font-size: 16px;
    color: #2d2d2d;
    margin-right: 50px;
}

.restaurant-info-contacts-c-text-phone {
    color: #60003b;
    border-bottom: 1px dashed #60003b;
}

.restaurant-info-contacts-c-icon {
    margin-right: 15px;
    width: 17px;
    height: 20px;
}

.restaurant-info-text {
    font-family: Gilroy;
    font-size: 16px;
    color: #2d2d2d;
    margin-bottom: 30px;
    margin-top: 25px;
}

.grid-title-count {
    color: #9e9e9e;
    border-left: 1px solid #e8e8e8;
    padding: 3px 10px;
    margin-left: 10px;
}

.grid-element__img-restaurant {
    height: 133px;
}

.header-text-restaurant-img {
    width: 30px;
    height: 20px;
}

.grid-element__info-restaurant-pm > img {
    width: 11px;
}

.grid-element__info-restaurant-pm-delete > img  {
    width: 17px;
}

.grid-element__info-restaurant {
    display: flex;
    flex-direction: column;
    margin: 9px 20px;
    position: relative;
    height: 120px;
    width: 90%;
}

.grid-element__info-restaurant-r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: fill;
    position: absolute;
    bottom: -5px;
    align-items: center;
    width: 100%;
}

.grid-element__info-restaurant-pw {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.grid-element__info-restaurant-title {
    font-family: Gilroy;
    font-size: 16px;
    color: #2d2d2d;
}

.grid-element__info-restaurant-subtitle {
    font-family: Gilroy;
    font-size: 10px;
    margin-top: 20px;
    color: #2d2d2d;
}

.grid-element__info-restaurant-pw-price {
    font-family: Gilroy;
    font-size: 16px;
    color: #2d2d2d;
}

.grid-element__info-restaurant-pw-weight {
    font-family: Gilroy;
    font-size: 9px;
    color: #adadad;
    margin-left: 13px;
}

.grid-element__info-restaurant-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-element__info-restaurant-buttons-add {
    padding: 7px 2.3vw;
    font-family: Gilroy;
    font-size: 12px;
    color: #60003b;
    text-transform: uppercase;
    border-radius: 14px;
    border: solid 1px #60003b;
    background: white;
}

.grid-element__info-restaurant-count {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    color: #2d2d2d;
    margin: 0 15px;
}

.grid-element__info-restaurant-pm {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 1px #60003b;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.grid-element__info-restaurant-pm-delete {
    border: none;
    background: #b23939;
}

.navbar-c3-option {
    width: 100%;
    text-align: right;
}

.active {
    box-shadow: -10px -10px 50px #e8e8e8;
}

.mobilemenu {
    position: fixed;
    z-index: 99999999999999999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
}

.mobilemenu-wrapper {
    margin-top: 100px;
    height: 225px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#open.open {
    display: none;
}

#open {
    margin-top: -3px;
}

#close, #open {
    width: 22px;
}

.DDArrow {
    /*background: red;*/
}
.navbar-bars-close.open {
    display: block;
    right: 17px;
    position: absolute;
    display: block;
    z-index: 99999999999999999999999999;
}

.mobilemenu.open {
    display: block;
}

.navbar-bars-close {
    display: none;
}


.cart {
    padding: 0 100px;
    background-color: rgba(96, 0, 59, 0.8);
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background: rgba(112,25,78,0.8);*/
    z-index: 9999999;
}

.cart-info {
    color: #FFFFFF;
    font-family: Gilroy;
    font-size: 16px;
    margin: 0;
    display: flex;
    align-items: center;
}

.cart-info-price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.cart-info-ico {
    margin-right: 20px;
    width: 35px;
}

#price {
    margin-left: 5px;
}

.cart-button {
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 20px;
    color: #60003b;
    text-transform: uppercase;
    font-family: Gilroy;
    z-index: 99999999999999999;
}

.category-dropdown {
    text-align: right;
    display: none;
    position: absolute;
    background: white;
    margin-top: 27px;
    padding: 0 10px;
    box-shadow: 0px -10px 10px #f7f7f7;
    border-radius: 5px;
}

.category-dropdown-element {
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 7px;
    border-bottom: 1px solid #f7f7f7;
}


.category-element-more:hover .category-dropdown {
    display: block;
}

.category-element-more:hover .category-element-more-btn > img {
    transform: rotate(180deg);
}

.cart-button {
    border: none;
}

.footer-r1-markets {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1281px) {
    .grid-element {
        max-width: 347px;
    }
    .grid {
        width: 1098px;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .navbar-c2-links {
        margin: 0 16px;
    }

    .navbar {
        padding: 0 30px;
    }

    .category {
        overflow: scroll;
        justify-content: inherit;
        align-items: inherit;
    }

    .category-element {
        padding: 16px 20px;
    }

    .article {
        padding: 0 20px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding-top: 50px;
    }

    .navbar {
        height: 50px;
        justify-content: start !important;
    }

    .navbar-c1-logo {
        width: 38px;
        height: 22px;
    }

    .navbar-c2 {
        display: none;
    }

    .navbar-c1-signin {
        display: none;
    }

    .navbar-bars {
        display: block;
        color: #60003b;
        position: fixed;
        right: 20px;
        top: 17px;
    }

    .header {
        height: 115px;
    }

    .header-shadow {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .header-text {
        font-size: 12px;
        margin: 0;
    }

    .header-mobile-break {
        display: inherit;
    }

    .search {
        margin-top: 27px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-row-gap: 18px;
    }

    .grid-element {
        width: 100%;
        height: 260px;
    }

    .footer-r2 {
        margin: 0 18px;
    }

    .footer-r1 {
        margin: 0 19px;
    }

    .footer-r1-market > img {
        height: 41px;
        width: auto;
    }

    .footer-r1-market:first-child {
        margin-right: 11px;
    }

    .header.header-restaurant {
        height: 250px;
    }

    .header-text-restaurant-title {
        margin-top: 120px;
        margin-left: 20px;
        width: 80%;
    }

    .header-text-restaurant-info {
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-text-restaurant-title {
        font-size: 24px;
    }

    .header-text-restaurant-info-deliveryprice {
        font-size: 12px;
    }

    .header-text-restaurant-info-delivery {
        font-size: 12px;
    }

    .restaurant-info-contacts {
        flex-direction: column;
    }

    .grid-element__info-restaurant-buttons {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .grid-element__info-restaurant-buttons-add {
        width: 80%;
        justify-content: center;
        display: flex;
    }

    .grid-element__info-restaurant-subtitle {
        margin-top: 10px;
    }

    /*.prettydropdown > ul > li {*/
    /*    padding-left: 0 !important;*/
    /*}*/
    .navbar-c1-signin-mobile {
        display: block;
        margin: 0;
    }

    .navbar-c2-links {
        margin: 0 !important;
        font-size: 16px;
    }

    .navbar-bars-close {
        display: none;
    }
    .prettydropdown > ul > li {
        padding-left: 0px !important;
    }
    .cart {
        padding: 0 20px;
        display: block;
    }

    .cart-info-price {
        position: absolute;
        top: 15px;
        left: 80px;
    }

    .cart-info-ico {
        position: absolute;
        top: 25px;
        left: 20px;
    }

    .cart-button {
        position: absolute;
        top: 40px;
        left: 80px;
        font-size: 12px;
        padding: 7px 15px;
    }
    .category-dropdown {
        right: 30px;
    }
}


.prettydropdown.arrow > ul > li.selected:before {
    display: none;
}


.prettydropdown.arrow > ul:not(.active) > li.selected:after {
    border: none;
    background-image: url('../img/arrow-down.svg');
}

.category-dropdown-element > a {
    color: #2d2d2d;
    display: block;
    width: 100%;
}