html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gilroy;
    src: url("./../fonts/Gilroy-Light.otf");
}

.wrapper {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.navbar {
    /*width: 100%;*/
    height: 100px;
    background: #FFFFFF;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-c1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-c2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-c3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-c1-logo {
    width: 100%;
    height: 100%;
    margin-right: 32px;
}

.navbar-c1-signin {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2d2d2d;
}

.navbar-c2-links {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.79;
    letter-spacing: 1.4px;
    text-align: left;
    color: #60003b;
    margin: 0 34px;
    text-transform: uppercase;
}

.navbar-c3-town {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
    margin-right: 18px;
}

.navbar-c3-arrow {
    color: #60003b;
}

.navbar-bars {
    display: none;
}

.header {
    width: 100%;
    height: 300px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background: url("./../img/header-background.png");
}

.header-text {
    text-shadow: 2.4px 3.2px 9px #000000e3;
    font-family: Gilroy;
    font-size: 27.5px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 2.75px;
    color: #ffffff;
    margin: 0 50px;
    text-align: center;
    text-transform: uppercase;
}

.header-shadow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-mobile-break {
    display: none;
}

.category {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    padding: 0 100px;
}

.category-element {
    padding: 16px 3vw;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
    border-bottom: 1px solid #e8e8e8;
}

.category-element.active {
    color: #60003b;
    border-bottom: 1px solid #60003b;
}

.search {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    border: solid 1px #e8e8e8;
    margin-top: 53px;
}

.search-input {
    width: 70%;
    border: none;
    outline: none;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 0.69;
    letter-spacing: normal;
    text-align: left;
    color: #979797;
    height: 90%;
}

.search-image {
    height: 20px;
    width: 20px;
    margin-left: 15px;
    margin-right: 20px;
}

.grid-title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 44px 0;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.61;
    letter-spacing: 1.8px;
    text-align: center;
    color: #60003b;
}

.grid {
    width: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 17px;
}

.grid-element {
    width: 100%;
    height: 280px;
    border: solid 1px #e8e8e8;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-element:hover {
    border: solid 1px #60003b;
    cursor: pointer;
}

.grid-element__img {
    width: 94%;
    margin-top: 9px;
    height: 60%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 20px;
}

.grid-element__info-index {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: end;
    width: 100%;
    /*margin: 0 23px;*/
}

.grid-element__info-index__main {
    margin-left: 23px;
    height: 100%;
}


.grid-element__info-index__main-title {

    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: normal;
    color: #2d2d2d;
    margin: 0;

}

.grid-element__info-index__main-subtitle {
    margin-top: 16px;
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: normal;
    color: #2d2d2d;
}

.grid-element__info-index__rate {
    margin-left: 16px;
}

.grid-element__info-index__rate-rub {
    margin-bottom: 3px;
}

.banner {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: cover !important;
    margin-top: 47px;
}

.seemore-wrapper-button {
    padding: 19px 73px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.79;
    letter-spacing: 1.4px;
    color: #ffffff;
    border-radius: 25px;
    background-color: #60003b;
}

.seemore-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 35px 0;
}

.footer {
    width: 100%;
    height: 296px;
    background-color: #ece0e7;
    display: flex;
    flex-direction: column;
}

.footer-r1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 19px 0px;
    margin: 0 100px;
    border-bottom: 1px solid #cfb2c4;
    align-items: center;
}

.footer-r1-market:first-child {
    margin-right: 20px;
}

.footer-r2 {
    display: flex;
    flex-direction: row;
    margin: 0 100px;
}

.footer-r2-column {
    margin-right: 9.6vw;
}

.footer-r2-column:last-child {
    margin-right: 0;
}

.footer-r2-column-title {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: normal;
    color: #60003b;
    margin-bottom: 31px;
    margin-top: 32px;
}

.footer-r2-column-link {
    font-family: Gilroy;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    color: #2d2d2d;
    margin-top: 0;
    margin-bottom: 10px;
}



@media (max-width: 992px) {
    .navbar-c2-links {
        margin: 0 16px;
    }

    .navbar {
        padding: 0 30px;
    }

    .category {
        overflow: scroll;
        justify-content: inherit;
        align-items: inherit;
    }

    .category-element {
        padding: 16px 20px;
    }

    .article {
        padding: 0 20px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding-top: 50px;
    }

    .navbar {
        height: 50px;
        justify-content: end;
    }

    .navbar-c1-logo {
        width: 38px;
        height: 22px;
    }

    .navbar-c2 {
        display: none;
    }

    .navbar-c1-signin {
        display: none;
    }

    .navbar-bars {
        display: block;
        color: #60003b;
        position: fixed;
        right: 20px;
        top: 17px;
    }

    .header {
        height: 115px;
    }

    .header-shadow {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .header-text {
        font-size: 12px;
        margin: 0;
    }

    .header-mobile-break {
        display: inherit;
    }

    .search {
        margin-top: 27px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-row-gap: 18px;
    }

    .grid-element {
        width: 100%;
    }

    .footer-r2 {
        margin: 0 18px;
    }

    .footer-r1 {
        margin: 0 19px;
    }
    .footer-r1-market > img {
        height: 41px;
        width: auto;
    }
    .footer-r1-market:first-child {
        margin-right: 11px;
    }
}